.root {
    -fx-background-color: #32302F;

}
.button {
    -fx-text-fill: #ffffff;
    -fx-background-color: #f80367;

}
.button-blue {
    -fx-text-fill: #ffffff;
    -fx-background-color: #01a0e4;

}
.button-round{
    -fx-text-fill: #ffffff;
    -fx-font-weight: bolder;
    -fx-background-color: #f80367;
    -fx-background-radius: 100;
}

.label{
    -fx-text-fill: #ff851a;
    -fx-font-weight: bolder;
}
.combo-box{
    -fx-background-color: #ff851a;
    -fx-text-fill: #32302F;
}
.tab{
    -fx-background-color: #01a0e4 ;
    -fx-text-fill: #ffffff;
    -fx-padding: 5,0,0,0;

    -fx-background-radius: 0 0 0 0, 0 0 0 0, 0 0 0 0;


    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;


}


.tab-pane > .tab-header-area > .headers-region > .tab:hover {
    -fx-background-color: #000000;
}
.tab-pane *.tab-header-background
{
    -fx-background-color: #32302F;
}

.tab-pane > .tab-header-area > .headers-region > .tab:selected {
    -fx-background-color: #807d7c;
    -fx-border-width: 0 0 3 0;
    -fx-border-color: #01a0e4;
}
.tab .tab-label
{
    -fx-alignment: CENTER;
    -fx-font-weight: bold;
    -fx-padding: 5;
    -fx-text-fill: #ffffff;
}

.menu .label {-fx-text-fill: white;}
.context-menu {

    -fx-background-color: transparent;
}
.tab-pane {
    -fx-min-height: 581;
    -fx-min-width: 600;
}
.radio-button{
    -fx-text-fill: #ffffff;
    -fx-font-weight: bolder;

}
.text-field-normal{
    -fx-border-color: transparent;
}
.text-field-error{
    -fx-border-color: #e81216;
    -fx-border-width: 2px;
    -fx-border-radius: 2px;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.text-error{
    -fx-fill: #e81216;
}

.table-cell {
    -fx-alignment: CENTER;
     /* The rest is from caspian.css */
}

.table-view .column-header .label {
    -fx-text-fill: #fff;
    -fx-font-weight: bold;
}

.table-view .column-header,
.table-view .column-header-background .filler {
    -fx-background-color: #32302F;
}




